
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat+Alternates:wght@500&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
    background-color: #EAE5EB;
}

.wrapped{
    width: 100vw;
    height: 100vh;
    background-image: url(../media/imagen_inicio.png);
    background-size: cover;
}

.wrappedsm{
    width: 100vw;
    height: 100vh;
    background-image: url(../media/imagen_sobre_mi.png);
    background-size: cover;
}

.wrappedc{
    width: 100vw;
    height: 100vh;
    background-image: url(../media/imagen_contacto.png);
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    background-color: #CBCBCB;
    color: black;
}

.fp {
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;    
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-top: 0.1vh;
}

.menu li {
    list-style: none;
    margin-top: 5px;
}

.menu a {
    font-size: x-large;
    color: white;
    text-decoration: none;
    padding: 25px;
}

.menu a:hover {
    background-color: #E0DEDE;
    transition: ease-in .1s;
    border-radius: 40px;
    cursor: default;
    color: #9D9A9A;
}

.main {
    margin: 10vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    font-size: 2vh;
}

h1 {
    font-size: 5vh;
}

span {
    color: #755dd9 ;
}

.imagen {
    width: 42vh;
    height: 59vh;
    border: 2vh solid #E0DEDE;
    margin-left: 25vh;
    margin-top: 4vh;
}

.main-s {
    margin: 15vh;
}

.info {
    font-size: x-large;
}

.boton1 {
    padding: 10px 20px;
    background-color: #5982DB;
    border: none;
    border-radius: 3vw;
    margin-top: 40px;
    font-size: x-large;
}

.boton1:hover {
    background-color: #7A98DA;
    cursor: pointer;
}

.p1 {
    margin-top: 30px;
}

.main-c {
    column-count: 2;
}

footer {
    background-color:#EAE5EB;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imagenwpp {
    height: 9vh;
    width: 9vh;
}

.imagengm {
    height: 6vh;
    width: 6vh;
    margin-top: 5px;
}

.imagenig {
    height: 6vh;
    width: 6vh;
    margin-top: 10px;
}

.botonig {
    background-color: #EAE5EB;
    border: none;
    cursor: pointer;
}

.datoswpp {
    margin-top: -30px;
    margin-left: -50px;
    padding: 20px;
}

.datosgm {
    margin-left: -40px;
}

.datosig {
    margin-left: -20px;
}

.mainp {
    margin: 6vw;
}

.linkazul {
    border: 30px solid #5982DB ;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.sinfondo {
    background-color: #5982DB;
    margin-top: -6px;
}

.infoproyectos {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
}

.descripcionazul {
    margin-left: 3vw;
    margin-top: 6vw;
    font-size: larger;
}

@media screen and (min-width: 801px){
    .footerp {
        margin-top: 130px;
    }
}

@media screen and (max-width: 800px) {
  
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .fp {
        margin-left: 25%;
        font-size: xx-large;
    }

    .menu {
        display: flex;
        flex-direction: column; 
        margin-left: 25%;
    }

    .menu li{
        display: flex;
        justify-content: center;
    }

    .menu a {
        margin-top: 15px;
        padding: 0%;
        font-size: large;
    }

    .main {
        margin: 10vw;
        display: flex;
        flex-direction: column;
        
    }

    .imagen {
        margin-left: 0vw;
    }

    .main-s {
        margin: 10%;
        display: block;
    }

    .wrapped{
        height: 100%;
    }

    .wrappedsm {
        height: 100%;
    }

    .linkazul {
        border: none;
        margin-top: 13px;
    }

    .sinfondo {
        margin-left: 30%;
        background-color: rgb(244,242, 244);
    }

    .imagenazul {
        margin-left: 20%;
        border: 20px solid #5982DB;
        border-radius: 20px;
    }

    .infoproyectos {
        flex-direction: column;
        justify-content: center;
        margin-top: -10px;
    }

    .descripcionazul {
        background-color: rgb(244,242, 244);
        }
}

